@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Dalaba<br />
    Mamaou, Guinée<br />
    <abbr title="Contact">Tel</abbr>
    +224 620 21 24 24
</address>

<address>
   @* <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>