@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University of Kamako</h1>
    <p class="lead">Welcome to Kamako NTIC leader de demain de la technologie.</p>
    <p><a href="//localhost:51529/cours/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Pour mieux debuter sur notre université veillez remplir le formulaire éléve et ensuite voilà nous prourrons traiter votre demande
        </p>
        <p><a class="btn btn-default" href="//localhost:51529/Eleves/Create">Nous rejoindre&raquo;</a></p>
    </div>
    <div class="col-md-4">
        @*<h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="">&raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href=""> &raquo;</a></p>
    </div>
</div>